<div class="bg-white shadow rounded-2xl overflow-x-auto">
    <table class="min-w-full table-auto">
        <thead class="bg-white text-gray-700 text-sm font-semibold">
            <tr >
                <th class="px-4 py-3 text-center">JENIS AKSI</th>
                <th class="px-4 py-3 text-center">STATUS</th>
                <th class="px-4 py-3 text-center">WAKTU</th>
            </tr>
        </thead>
        <tbody class="text-sm text-gray-600">
            {% for row in table_rows %}
            <tr class="border-t text-center">
                <td class="px-4 py-2">{{ row.jenis_aksi }}</td>
                <td class="px-4 py-2">{{ row.status }}</td>
                <td class="px-4 py-2">{{ row.dibuat_sejak }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
